@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url('./public/Wireframe.svg');
  background-repeat: repeat;
  /* Faz a imagem se repetir como um tilemap */
  background-size: auto;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {}